@import url("https://fonts.googleapis.com/css2?family=Ropa+Sans&display=swap");

* {
	font-family: "Ropa Sans", sans-serif;
}


nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.left-side{
    width: 45%;
    height: 700px;
}

.right-side{
    width: 45%;
    height: 700px;
}
.right-side h1 {
    font-size:5em
}
