@import url("https://fonts.googleapis.com/css2?family=Ropa+Sans&display=swap");

* {
	font-family: "Ropa Sans", sans-serif;
}


nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.left-side{
    width: 45%;
    height: 70%;
}

.right-side{
    width: 45%;
    height: 70%;
}
.right-side #title {
    font-size:5em
}

.input-style{
    display: flex;
    flex-direction: column;
    padding-bottom: 30px;
}
label{
    font-size: 1.4em;
    padding-bottom: 10px;
    padding-top: 10px;
}
input{
    width: 40%;
    height: 50px;
    border-radius: 10px;
    font-size: 1.8em;
    
}

button{
    width: 150px;
    height: 50px;
    background-color: #2B7AD3;
    border-radius: 10px;
    font-size: 1.3em;
    color: white;
    border: none;
}

form div label,input {
    display:flex;
    flex-direction:column;
    width: 400px;
}

.container-dashboard{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.left-side-dashboard{
    width: 45%;
    height: 70%;
    border: solid grey;
}
.right-side-dashboard{
    width: 45%;
    height: 70%;
    border: solid grey;
    margin: 30px;
}
